include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.md
include requirements.txt requirements_test.txt

recursive-include docs *.rst *.jpg *.png *.gif conf.py Makefile make.bat
recursive-include examples *.ipynb
recursive-include tests *

recursive-exclude * *.py[co]
recursive-exclude tests fixtures/cassettes/*
recursive-exclude tests fixtures/*
recursive-exclude examples non-dist/*
recursive-exclude examples .ipynb_checkpoints/*

global-exclude ipyrest.log __pycache__ .ipynb_checkpoints .mypy_cache
